<h2><%= message["message"] %></h2>

<ul>
  <% comments.each do |comment| %>
      <% if comment["message_id"] == message["id"] %>
          <li><%= comment["comment"] %></li>
      <% end %>
  <% end %>
</ul>